<%_ if (typeof path === 'undefined') { var path = ''; }_%>
<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="format-detection" content="telephone=no">
	<title><%= title %></title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<link rel ="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css">
	<link rel="stylesheet" href="<%= path %>assets/css/style.css" type="text/css" />
</head>
<body>
	<header class="header">
		<div class="header__inner">
			<h1><a href="<%= path %>index.html">モジュールリスト</a></h1>
		</div>
		<div class="header__nav">
			<ul>
				<li><a href="<%= path %>mk-title.html">title</a></li>
				<li><a href="<%= path %>mk-module.html">module01</a></li>
				<li><a href="<%= path %>mk-module02.html">module02</a></li>
				<li><a href="<%= path %>mk-slider.html">slider</a></li>
				<li><a href="<%= path %>mk-post.html">post</a></li>
				<li><a href="<%= path %>mk-guide.html">guide</a></li>
				<li><a href="<%= path %>mk-btn.html">button</a></li>
				<li><a href="<%= path %>mk-other.html">others</a></li>
			</ul>
		</div>
	</header>